{% extends 'base/base.html' %}
{% block content %}
    {% load bootstrap_icons %}

    <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2 border-bottom text-center">Nuestros productos</h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon">
                    {% md_icon 'corn' size='4em' %}
                </div>
                <h2>Veggie friendly</h2>
                <p>En nuestro catálogo de productos siempre puedes encontrar opciones vegetarianas y veganas.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon">
                    {% md_icon 'barley-off' size='4em' %}
                </div>
                <h2>Sin gluten</h2>
                <p>Tenemos opción sin gluten para personas celiacas e intorlerantes al gluten.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon">
                    {% md_icon 'peanut-off' size='4em' %}
                </div>
                <h2>Sin alérgenos</h2>
                <p>La elaboración de nuestros productos pasa un exhaustivo control de alérgenos para la seguridad del consumidor.</p>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2 border-bottom text-center">Nuestros servicios</h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon">
                    {% md_icon 'school' size='4em' %}
                </div>
                <h2>Institutos</h2>
                <p>Proveemos servicios de katering a escuales, institutos y universidades.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon">
                    {% md_icon 'dance-ballroom' size='4em' %}
                </div>
                <h2>Bodas y eventos</h2>
                <p>Proveemos servicios de katering para bodas, cumpleaños y eventos.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon">
                    {% md_icon 'hospital-building' size='4em' %}
                </div>
                <h2>Hospitales</h2>
                <p>Proveemos servicios de katering a centros de saludo y hospitales.</p>
            </div>
        </div>
    </div>

{% endblock content %}