{% extends 'base/base.html' %}
{% block content %}
    {% load bootstrap_icons %}
    <h1>{% md_icon 'account-arrow-right' size='1em' %}Iniciar Sesión</h1>
    <hr/>
    <form method="POST" class="mt-4" >
        {% csrf_token %}
        <table class="table align-top w-50">
            {{ form.as_table }}
        </table>
        <input class="btn btn-lg btn-dark mt-2" type="submit" value="Iniciar Sesión">
    </form>

    <p class="mt-3"><a href="{% url 'registro' %}">He olvidado la contraseña</a></p>


{% endblock content %}
