{% extends 'base/base.html' %}
{% block content %}
    {% load bootstrap_icons %}

    <h1>Hola {{ request.user|title }}</h1>
    <h3>{% md_icon 'truck-delivery' size='1em' %}Tienes {{ count }} pedido{{ count|pluralize }}
        pendiente{{ count|pluralize }} de entrega</h3>

    <a class="btn btn-dark mt-2 mb-2" href="{% url 'crear-pedido' %}">Crear nuevo pedido</a>

    <hr/>


    <div>
        <form method="GET" class="row my-12">
            <div class="col-auto">
                <input class="form-control" type="text" name="area-buscar" value="{{ valor_buscado }}"/>
            </div>
            <div class="col-auto">
                <input class="btn btn-secondary" type="submit" value="Buscar"/>
            </div>
        </form>
    </div>
    <div class="m-3">
        {% for pedido in pedidos %}
            {% if pedido.completo %}
                <div>
                    <i><s><a href="{% url 'editar-pedido' pedido.id %}">{{ pedido }}</a></s></i>
                    <a href="{% url 'eliminar-pedido' pedido.id %}">{% md_icon 'truck-remove' color='red' size='1.5em' %}</a>
                </div>

            {% else %}
                <div>
                    <a style="color: black" href="{% url 'editar-pedido' pedido.id %}">{{ pedido }}</a>
                    <a href="{% url 'eliminar-pedido' pedido.id %}">{% md_icon 'truck-remove' color='red' size='1.5em' %}</a>
                </div>
            {% endif %}
        {% empty %}
            <span> No hay elementos en la lista</span>
        {% endfor %}
    </div>

{% endblock content %}